<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <link rel="stylesheet" href="/css/linkmaker.css">
    <title>Letsbunk</title>
</head>

<body>
    {{>navbar}}

    <center class="link-maker-head">
        <h1>
            <hr />
            Your link is ready
        </h1>
    </center>

    <div class="container">
        <div class="main-container">

            <div class="link-box">
                <img src="https://i.postimg.cc/nrKFBkkF/www-rafiki-1.png" alt="url-image">
                <div class="link" id="linkContainer">
                    {{baseLink}}/bunklink/{{address}}
                </div>
                <button type="button" onclick="copyLink()">Copy link</button>
            </div>


        </div>
    </div>



    <script src="/js/main.js"></script>
</body>

</html>