<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">

       <link rel="stylesheet" href="/css/cards.css">
    <title>Letsbunk</title>
</head>
<body>
 {{>navbar}}
 <!-- fronts screen first content -->
<div class="front-screen-container"  >
    <div class="front-container-box">
      <!-- details -->
      <div class="front-container-box-child-1">
        <hr />
        <p class="front-container-box-child-1-heading">
            Make a mass
            Bunk link
        </p>
        <p class="front-container-box-child-1-details">
          Make your class dream of mass bunk possible using our service lestbunk by creating a voting for mass bunk!!
        </p>
        <button><a href="/link-maker">Get Started</a></button>
      </div>
      <!-- image -->
      <div class="front-container-box-child-2 ">
        <img
          src="https://i.postimg.cc/FRLXHdjH/undraw-Snowman-re-guxt.png"
          alt="hero-img"
  
        />
      </div>
    </div>
  </div>

  <center class="head-2"><h3 class="cards-box-heading">How this works?</h3>
    </center>
  {{>cards}}
  
    <script src="/js/main.js"></script>
</body>
</html>