<div class="contanier">
  <div class="cards-contanier">
    <div class="main-cards">
      <img
        src="https://i.postimg.cc/Vk0h4Q17/api.png"
        alt="api"
        class="main-cards-img"
      />
      <p class="main-cards-head">
        Link
      </p>
      <p class="main-cards-para">
       Create a mass bunk link by give proper details about your bunk plan to our site.
      </p>
    </div>

    <div class="main-cards">
        <img
          src="https://i.postimg.cc/0j2kJ5TX/api-1.png"
          alt="api"
          class="main-cards-img"
        />
        <p class="main-cards-head">
         Share
        </p>
        <p class="main-cards-para">
          Share the generated link to all of your classmate and conduct a votings for all the students.
        </p>
      </div>


      <div class="main-cards">
        <img
          src="https://i.postimg.cc/htxBv7JP/api-2.png"
          alt="api"
          class="main-cards-img"
        />
        <p class="main-cards-head">
          Decide
        </p>
        <p class="main-cards-para">
           Decide what to do by seeing the voting, you can mass bunk or not? is all student agree or not?
        </p>
      </div>
  </div>
</div>