<nav>
    <!-- nav box -->
    <div class="nav-container">
        <!-- first box: company name -->
        <div class="nav-box-1">
            <p onclick="location.href='/'">
                LetsBunk
            </p>
             <small>beta</small>
        </div>
        <!-- second box: buttons -->
        <div class="nav-box-2" >
            <ul class="nav-box-2-ul" id="nav-box-2-ul">
                <li onclick="navigate()"><a href="/">Home</a></li>
                <li onclick="navigate()"><a href="/about">About us</a></li>
                <li onclick="navigate()"><a href="/idea-by">Idea by</a></li>
            </ul>

        </div>
        <!-- third box: free trial -->
       <div class="nav-box-3">
           <button><a href="/link-maker">Get Started</a></button>
       </div>
       <!-- hamburger -->
       <div class="nav-box-4">
          <label for="check" class='hamburger'>
              <input type="checkbox" id="check" onclick="show()" />
              <span></span>
              <span></span>
              <span></span>
            </label>
       </div>
    </div>
</nav>